.sidebar-container {
    height: 100%;
    width: 30%;
    background-color: #F4F4F4;
}

.sidebar-container .sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid #ddd;
}

.sidebar-container .sidebar-header .image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1rem;
}

.sidebar-container .sidebar-header .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-container .sidebar-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.sidebar-container .sidebar-content .profile-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 15px;
}

.sidebar-container .sidebar-content .profile-infos .name {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.8px;
    word-spacing: 0.6px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.sidebar-container .sidebar-content .profile-infos .job-title {
    font-size: 0.75rem;
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: 1.4px;
    word-spacing: -0.4px;
    color: #9A9A9A;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.sidebar-container .sidebar-content .profile-infos .contact {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.sidebar-container .sidebar-content .profile-infos .contact span {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 0.7rem;
    letter-spacing: 1.4px;
    word-spacing: -0.4px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.sidebar-container .sidebar-content .profile-infos .contact span i {
    font-size: 1.1rem;
}




.block {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
}

.block-name {
    font-size: 1.0rem;
    font-weight: bold;
    color: #333;
    font-family: "Source Code Pro", "Times New Roman", Times, serif;
    letter-spacing: 2.6px;
    word-spacing: 1px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.block-text {
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    font-family: "Nunito Sans", Times, serif;
    letter-spacing: 1.8px;
    word-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

hr {
    border: none;
    border-top: 2px solid #000000;
    margin: 0.5rem 0;
}



.education-history li > :last-child {
    margin-bottom: 0.3rem;
}


.education-history ul li {
    line-height: 1.2;
    font-size: 16px;
    font-weight: bold;

}

.education-history ul li:last-child {
    margin-bottom: 0;
}


.back-title-style {
    font-size: 1rem;
    line-height: 1.2;
    font-family: "Nunito Sans", Times, serif;
    letter-spacing: 1.8px;
    word-spacing: 1px;
    font-weight: 1000;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}


.back-description-style {
    font-size: 0.8rem;
    line-height: 1.2;
    color: #666;
    font-family: "Nunito Sans", Times, serif;
    letter-spacing: 1.8px;
    word-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-bottom: 15px;
    margin-top: 4px;
}

